
/* .home-image img {
    
    width: 100%;
    height: 400px;

} */


.home-image{
    background-image: url("../../images/backgroundp.jpg");
    width: 100%;
    height: 400px;
}
.title{
    text-align: center;
    color: white;
    padding-top:150px
    
}
.home-teams{
   
    background-color: rgba(26, 43, 139, 0.144);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    /* flex-wrap: wrap; */
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .home-teams{
      background-color: red;
      grid-template-columns: repeat(3, 1fr);
      
    }
    
  }